
.clubHelper--solutions {
  padding: 16px 0;
}

.clubHelper--solutions .vkuiBaseGallery__slide {
  padding: 0 16px;
  max-width: 450px;
}

.clubHelper--solutions .vkuiCard {
  padding: 20px 0;
  box-sizing: border-box;
}

.clubHelper--solution-contact {
  width: 250px;
}

.clubHelper--solution-contact .vkuiPlaceholder__in {
  padding: 15px 0;
}

.clubHelper--solutions .vkuiContentCard__img {
  width: 48px;
  height: 48px;
  margin: 0 45%;
}

.clubHelper--solutions .vkuiPlaceholder__in {
  padding: 16px 0;
}
